/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

.login-form {
  width: 300px;
  margin: 0 auto 50px;
  padding: 20px;
  background-color: #f1f1f1;
  border-radius: 5px;
}
.login-input {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.login-btn {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #8bc34a;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.login-btn:hover {
  background-color: #689f38;
}
.login-btn:active {
  background-color: #3e8e41;
}
